# Specify the required environment variables for our process

# NOTE: DO NOT QUOTE VAULES IN THIS FILE; THE QUOTE MARKS WILL BECOME PART OF THE VAULE

# Specify the shared library path
LD_LIBRARY_PATH=/usr/local/lib:/usr/local/lib64

# Specify the command line shell to use (default to BASH rather than the simpler SH)
SHELL=/bin/bash

# Specify the default debug level for our application
# Verbosity levels are CRITICAL, ERROR, WARNING, INFO, DEBUG
DEBUG_LEVEL=INFO

# Specify the time zone for our application
TZ=America/Los_Angeles

# Specify the LOD base URL for our generated records
# This must also be the base URL for MART's Web Service
LOD_BASE_URL=https://mart.getty.edu
# Should the LOD URLs be terminated with a forward slash?
LOD_SLASH_URL=NO
LOD_DEFAULT_URL_NAMESPACE=http://localhost:5100

# Specify PostgreSQL Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=mart
POSTGRES_PASSWORD=mart
POSTGRES_DB=mart
PGDATA=/var/lib/postgresql/data

# Specify Neptune Configuration
NEPTUNE_HOST=dev-1-neptune.aws.getty.edu
NEPTUNE_PORT=8182
NEPTUNE_ENABLED=NO

# Specify Transformer Configuration
TRANSFORMER_PORT=5200

# Specify Web Service Configuration
WEB_DEBUG_HEADER=NO
FLASK_APP=/app/startup.py
FLASK_ENV=development
FLASK_RUN_PORT=5100
UWSGI_PROCESSES=4
UWSGI_THREADS=2

# Specify the DOR API Base URL, Credentials, Versioning and Cache Config
DOR_BASE_URL=https://data.getty.edu/museum
DOR_FIND_URL=
DOR_POLL_INTERVAL=60
DOR_API_USER=<REDACTED>
DOR_API_KEY=<REDACTED>
DOR_API_VERSION=1.5
DOR_API_CACHING=YES
DOR_API_MAX_RETRIES=5

# LOD UUIDv5 Name Spaces
LOD_UUID_NAMESPACE_PLACES=3ab4a96d-cfd5-4f47-8d16-812be76c1215

# Activity Stream Defaults
ACTIVITY_STREAM_MAX_RETRIES=3

# Specify the Vault Configuration
VAULT_ADDR=<REDACTED>
VAULT_ENV=<REDACTED>
VAULT_APP_NAME=<REDACTED>
VAULT_TOKEN=<REDACTED>
