psycopg2-binary==2.9.3
SQLAlchemy==1.4.32
alembic==1.11.1
Flask==2.3.2
Flask-Compress==1.11
Flask-Cors==3.0.10
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
black==22.*
pytest==7.0.1
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-watch==4.2.0
#PyLD==2.0.2
git+https://github.com/thegetty/pyld.git@threadlocking#egg=pyld
rdflib==6.3.2
requests==2.31.0
requests-mock==1.9.3
dateparser==1.1.1
regex==2022.3.2
gunicorn==20.1.0
python-json-logger==2.0.7
gevent==23.9.1