git+https://github.com/thegetty/crom.git@2fb4971f05aa2faa66c786ef185e2c5762151b92#egg=cromulent
flask==1.1.1
pytest==5.0.1
requests==2.22.0
uWSGI==2.0.18
psycopg2==2.8.3
psutil==5.6.3
pytz==2019.2
rdflib==4.2.2
rdflib-jsonld==0.4.0
pyld==1.0.5
