uWSGI==2.0.20
psycopg2-binary==2.9.3
SQLAlchemy==1.4.32
alembic==1.7.6
Flask==2.0.3
Flask-Compress==1.11
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
black==22.*
pytest==7.0.1
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-watch==4.2.0
#PyLD==2.0.2
git+https://github.com/thegetty/pyld.git@threadlocking#egg=pyld
rdflib==6.1.1
rdflib-jsonld==0.6.2
requests==2.27.1
requests-mock==1.9.3
dateparser==1.1.1
regex==2022.3.2
