#div_wrapper {
  border: 1px solid rgb(167, 193, 250);
  width: 1000px;
  margin: auto;
  background-color: rgb(252, 240, 252);
  font-family: Calibri;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
  text-decoration: none;
}

/* Checkbox ------------------------------------- */
input[type="checkbox"] {
  position: relative;
  cursor: default;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid rgb(203, 201, 221);
  border-radius: 50%;
  background-color: rgb(122, 99, 139);
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
